In [ ]:
import pandas
import os

In [ ]:
import utils

In [1]:
import os
from math import radians, cos, sin, asin, sqrt
import sys
import time

import sys
sys.path.append('/Users/gustaveronteix/Documents/Projets/Projets Code/batch7_beges/datasets/chorus-dt')

import requests
import dill
import urllib.parse
import pandas as pd
from tqdm import tqdm
from utils.config import CONFIG

from utils import dataset
from utils.resolvers import HardcodesResolver, GeocodingApiResolver

tqdm.pandas()


def compute_distance(x):
    lon1 = x["coords_place_0_lon"]
    lat1 = x["coords_place_0_lat"]
    lon2 = x["coords_place_1_lon"]
    lat2 = x["coords_place_1_lat"]
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * asin(sqrt(a))
    r = 6371  # Radius of earth in miles. Use 6371 for kilometers
    return c * r


if __name__ == "__main__":
    data = dataset.load_data("./data/raw/sample-avion-train.csv")
    places, trips = dataset.get_places_and_trips(data, ["T", "TC", "TCA", "TCM", "TU"])

    # Splitting codes / name
    places[["code_1", "name", "temp", "code_2"]] = places["place"].str.extract(
        "([^-]*)\s-\s([^\[]*)\s?([\[](.*)[\]])?", expand=True
    )
    places.drop(columns=["temp"], inplace=True)

    places["resolved"] = False
    places["resolved_through_uic_code"] = False
    places["resolved_through_insee_code"] = False
    places["resolved_through_tvs_code"] = False
    places["resolved_through_gmap_api"] = False
    places["lon"] = None
    places["address"] = ""
    places["lat"] = None

    hardcode_resolver = HardcodesResolver()
    places = places.progress_apply(hardcode_resolver.resolve, axis=1)

    # Initiate geocoder
    GMAP_API_KEY = CONFIG["api_keys"]["gmap"]
    geocoding_api_resolver = GeocodingApiResolver(api_name="gmap", api_key=GMAP_API_KEY)

    # Apply the geocoder with delay using the rate limiter:
    places.loc[~places["resolved"], :] = places[~places["resolved"]].progress_apply(
        geocoding_api_resolver.resolve, axis=1
    )
    geocoding_api_resolver.save_cache()
    for c in places:
        if "resolved_through_" in c:
            print(c, places[c].sum())

    places["lat"] = places["lat"].astype(float)
    places["lon"] = places["lon"].astype(float)
    places_dict = places.set_index("place").to_dict()

    for place_index in [0, 1, 2]:
        trips["coords_place_%d_lat" % place_index] = trips[
            "trip_place_%d" % place_index
        ].apply(lambda x: places_dict["lat"][x])
        trips["coords_place_%d_lon" % place_index] = trips[
            "trip_place_%d" % place_index
        ].apply(lambda x: places_dict["lon"][x])
        trips["coords_place_%d" % place_index] = (
            trips["coords_place_%d_lon" % place_index].astype(str)
            + ";"
            + trips["coords_place_%d_lat" % place_index].astype(str)
        )
        trips["place_%d_count" % place_index] = trips[
            "trip_place_%d" % place_index
        ].apply(lambda x: places_dict["total"][x])

    trips["distance"] = trips.apply(compute_distance, axis=1)
    places.to_csv("./data/clean/places.csv", index=False)
    trips.to_csv("./data/clean/trips.csv", index=False)

/Users/gustaveronteix/opt/anaconda3/lib/python3.7/site-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

Prestation types:
['T' 'TU' 'TCA' 'TC']
1001
1009

  0%|          | 0/1668 [00:00<?, ?it/s]

Unique places src:  1009
Unique places dst:  1001
Unique places stop:  1409
Unique places:  1668
Unique trips:  16574

100%|██████████| 1668/1668 [00:00<00:00, 3869.37it/s]
100%|██████████| 686/686 [00:00<00:00, 3875.34it/s]

resolved_through_uic_code 98
resolved_through_insee_code 884
resolved_through_tvs_code 0
resolved_through_gmap_api 683

In [39]:
import numpy as np

data = dataset.load_data("./data/raw/sample-avion-train.csv")
places, trips = get_places_and_trips(data, ["A", 'AM', 'AU'])

Prestation types:
['A' 'AU' 'AM']

TypeError: sequence item 1: expected str instance, float found

In [30]:
places

                            place     src     dst    stop   total
0      IA_CDG - CHARLES DE GAULLE  1469.0  1516.0   120.0  3105.0
1               IA_TLS - TOULOUSE   544.0   542.0   151.0  1237.0
2                   75056 - PARIS   530.0   560.0  1527.0  2617.0
3                   IA_ORY - ORLY   456.0   416.0    42.0   914.0
4              - PARIS ORLY [ORY]   364.0   374.0    23.0   761.0
..                            ...     ...     ...     ...     ...
575               26362 - VALENCE     0.0     0.0     1.0     1.0
576                 30189 - NIMES     0.0     0.0     1.0     1.0
577                   05061 - GAP     0.0     0.0     1.0     1.0
578   - TOULOUSE MATABIAU [FRUIB]     0.0     0.0     1.0     1.0
579    13070 - PENNE-SUR-HUVEAUNE     0.0     0.0     1.0     1.0

[580 rows x 5 columns]

In [58]:
def get_places_and_trips(data, prestation_types=None):
    
    current_data = data.copy()
    if prestation_types is None:
        prestation_types = ["A", "AM", "AU", "T", "TC", "TCA", "TM", "TU"]

    prestation_type_filters = ["^" + d + " -" for d in prestation_types]
    current_data = current_data[
        current_data["prestation_type"].str.contains("|".join(prestation_type_filters))
    ]
    # Keeping only the T / TU / TC... codes
    current_data["prestation_type"] = current_data["prestation_type"].apply(
        lambda x: x.split(" - ")[0]
    )
    
    #throwaway etape points in airplane trafic
    airplane_filter = "^A"
    current_data.loc[current_data["prestation_type"].str.contains(airplane_filter),
                    'lieu_etape'] = np.nan

    print("Prestation types: ")
    print(current_data["prestation_type"].unique())

    lieu_depart_count = (
        current_data["lieu_depart"].value_counts().to_frame().reset_index()
    )
    lieu_depart_count.columns = ["place", "src"]
    lieu_arrivee_count = (
        current_data["lieu_arrivee"].value_counts().to_frame().reset_index()
    )
    lieu_arrivee_count.columns = ["place", "dst"]
    
    lieu_etape_count = (
        current_data["lieu_etape"].value_counts().to_frame().reset_index()
    )
    lieu_etape_count.columns = ["place", "stop"]

    places = pd.merge(lieu_depart_count, lieu_arrivee_count, how="outer", on="place")
    places = pd.merge(places, lieu_etape_count, how="outer", on="place")
    places.fillna(0, inplace=True)
    places["total"] = places["src"] + places["dst"] + places["stop"]
    
    all_trips_w_etape = pd.DataFrame()
    current_data_w_etape = current_data[~current_data['lieu_etape'].isna()]

    if not current_data_w_etape.empty:

        places_columns = ["lieu_depart", "lieu_etape", "lieu_arrivee"]
        all_trips_w_etape["trip_slug"] = current_data_w_etape[places_columns].apply(
            lambda x: " <-> ".join(x), axis=1
        )
        all_trips_w_etape["trip_place_0"] = current_data_w_etape["lieu_depart"]
        all_trips_w_etape["trip_place_1"] = current_data_w_etape["lieu_etape"]
        all_trips_w_etape["trip_place_2"] = current_data_w_etape["lieu_arrivee"]
        all_trips_w_etape["prestation_type"] = current_data_w_etape["prestation_type"]

    all_trips_wo_etape = pd.DataFrame()
    current_data_wo_etape = current_data[current_data['lieu_etape'].isna()]

    if not current_data_wo_etape.empty:

        places_columns = ["lieu_depart", "lieu_arrivee"]
        all_trips_wo_etape["trip_slug"] = current_data_wo_etape[places_columns].apply(
            lambda x: " <-> ".join(x), axis=1
        )
        all_trips_wo_etape["trip_place_0"] = current_data_wo_etape["lieu_depart"]
        all_trips_wo_etape["trip_place_1"] = current_data_wo_etape["lieu_arrivee"]
        all_trips_wo_etape["trip_place_2"] = "No stop"
        all_trips_wo_etape["prestation_type"] = current_data_wo_etape["prestation_type"]
    
    all_trips = all_trips_w_etape.append(all_trips_wo_etape)
    
    trips = (
        all_trips.reset_index()
        .groupby(
            [
                "trip_slug",
                "prestation_type",
                "trip_place_0",
                "trip_place_1",
                "trip_place_2",
            ],
            as_index=False,
        )
        .count()
    )
    trips.columns = [
        "trip_slug",
        "prestation_type",
        "trip_place_0",
        "trip_place_1",
        "trip_place_2",
        "count",
    ]
    trips.sort_values(by="count", inplace=True, axis=0, ascending=False)

    print("Unique places src: ", len(current_data["lieu_depart"].unique()))
    print("Unique places dst: ", len(current_data["lieu_arrivee"].unique()))
    print("Unique places stop: ", len(current_data["lieu_etape"].unique()))
    print("Unique places: ", places.shape[0])
    print("Unique trips: ", len(all_trips["trip_slug"].unique()))
    
    return places, trips

In [59]:
prestation_types = ['A']

places, trips = get_places_and_trips(data, prestation_types=None)

Prestation types:
['T' 'A' 'TU' 'TM' 'AU' 'TCA' 'AM' 'TC']
Unique places src:  1335
Unique places dst:  1330
Unique places stop:  1502
Unique places:  1956
Unique trips:  20553

In [62]:
trips[trips['prestation_type'] == 'AU']

,trip_slug,prestation_type,trip_place_0,trip_place_1,trip_place_2,count
4813,31555 - TOULOUSE <-> 75056 - PARIS,AU,31555 - TOULOUSE,75056 - PARIS,No stop,42
7571,75056 - PARIS <-> 31555 - TOULOUSE,AU,75056 - PARIS,31555 - TOULOUSE,No stop,34
4737,31488 - SAINT-JEAN <-> 92062 - PUTEAUX,AU,31488 - SAINT-JEAN,92062 - PUTEAUX,No stop,20
6589,64122 - BIARRITZ <-> 75056 - PARIS,AU,64122 - BIARRITZ,75056 - PARIS,No stop,18
9325,75056 - PARIS <-> IA_LIS - LISBONNE,AU,75056 - PARIS,IA_LIS - LISBONNE,No stop,17
...,...,...,...,...,...,...
4743,31555 - TOULOUSE <-> 06088 - NICE,AU,31555 - TOULOUSE,06088 - NICE,No stop,2
9425,75056 - PARIS <-> IA_TLS - TOULOUSE,AU,75056 - PARIS,IA_TLS - TOULOUSE,No stop,2
12063,IA_BRU - BRUXELLES <-> IA_INN - INNSBRUCK,AU,IA_BRU - BRUXELLES,IA_INN - INNSBRUCK,No stop,2
13960,IA_QXO - TOKYO <-> 75056 - PARIS,AU,IA_QXO - TOKYO,75056 - PARIS,No stop,1
9398,75056 - PARIS <-> IA_QXO - TOKYO,AU,75056 - PARIS,IA_QXO - TOKYO,No stop,1